<div id="bg_image">
<div class="text-center", id="cover_page">
  <div>
    <h1 class="text-dark">NEXTLab technical assessment</h1>
    <h3 class="text-dark">
      Build a basic rails app with a Services model containing name, price, country, cost attributes and use the filterrific gem to build the page.
    </h3>
    <%= button_to "Service Index Page", services_index_path, method: :get, class: "btn btn-lg btn-success"%>
  </div>
</div>
</div>